container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput --run-syncdb"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  03_chmod:
    command: "chmod 666 db.sqlite3"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "static/"

packages:
  yum:
    postgresql94-devel: []

